.admin-section {
  background: #343a40;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 4px;
  font-size: 12px;
}

.boton-editar{
  background-color: #FCB300 !important;
};
