
.container-reservas {
    background-color: #343a40; /* Fondo oscuro para las secciones */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para destacar */
    text-align: center; /* Centra el texto */
    margin: 3rem !important; /* Margen superior e inferior */
    max-width: 800px; /* Ancho máximo */
    padding-top: 2rem;
    padding-bottom: 2rem;

}

h1 {
    font-family: "Bebas Neue", sans-serif; /* Fuente consistente */
    color: #fab73d; /* Color amarillo */
     margin-bottom: 2rem;
}

.form-control {
    background-color: #212529; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    border: 1px solid #fab73d; /* Borde amarillo */
    border-radius: 5px; /* Bordes redondeados */
    padding: 0.75rem; /* Espaciado interno */
    margin-bottom: 2rem; /* Espaciado inferior */
}

.form-control:focus {
    background-color: #343a40; /* Fondo más claro al enfocar */
    color: #ffffff; /* Texto blanco */
    border-color: #ffc107; /* Borde amarillo más claro */
    box-shadow: 0 0 5px rgba(250, 183, 61, 0.5); /* Sombra amarilla */
}

.btn-custom {
    background-color: #fab73d; /* Fondo amarillo */
    color: #343a40; /* Texto oscuro */
    border: none; /* Sin bordes */
    padding: 0.75rem 1.5rem; /* Espaciado interno */
    font-size: 1.2rem; /* Tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.btn-custom:hover {
    background-color: #ffc107; /* Fondo más claro al pasar el cursor */
    transform: scale(1.05); /* Efecto de zoom */
    color: #212529; /* Texto más oscuro */
}

@media (max-width: 768px) {
    .container-reservas {
        padding: 2rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    .btn-custom {
        font-size: 1rem;
    }
}