.hero-section {
    width: 100%;
    height: 75vh;
    background-image: url('../../assets/img/hero-section-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
    animation: fade-in 1.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(52, 58, 64, 0.8);
    padding: 2rem;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-hero{
    font-size: 22px;
    margin-top: 10px;
    background-color: #fcb300;
    }
.hero-title {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 8px;
    color: #FCB300;
}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
    }
}
