@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }


  .page-animation {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.texto-contador{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 48px;
    color: #FCB300;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

html, body, #root {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #2c2c2c; 
    font-family: "Poppins", sans-serif;
    width: 100% !important;
    height: 100% !important; 
}

.content-wrapper {
    min-height: calc(100vh - 80px); 
    display: flex;
    flex-direction: column;
}

.content-wrapper .flex-fill {
    flex: 1;
    overflow: hidden;
}

.container-fluid {
    padding: 0;
    width: 100%;
}

/* Asegura que las imágenes sean responsivas */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Botones globales */
button, .btn {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    padding: 0.75rem 1.5rem;
    transition: all 0.3s ease;
}

button:hover, .btn:hover {
    transform: scale(1.05);
}

.custom-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #232323;
  color: #fff;
  border: 2px solid #FCB300;
  border-radius: 8px;
  padding: 16px 32px;
  z-index: 99999;
  font-size: 1.1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  transition: opacity 0.5s ease;
  animation: fadeInOut 2s;
  animation-fill-mode: forwards; 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Ajustes responsive */
@media (max-width: 768px) {

    body {
        font-size: 14px;
    }

    .container-fluid {
        padding: 0 0 !important;
        width: 100% !important;
    }
    a{
        text-decoration: none;
        color: black; 
    }
}